[submodule "week15-16/StakingRewards/lib/forge-std"]
	path = week15-16/StakingRewards/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week15-16/TokenDistributor/lib/forge-std"]
	path = week15-16/TokenDistributor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week15-16/TokenDistributor/lib/openzeppelin-contracts"]
	path = week15-16/TokenDistributor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
